.rules-box {
	/* background: rgba(0, 0, 0, 0.7); */
	padding: 20px 40px;
	border-radius: 10px;
	text-align: center;
	max-width: 80%;
}

.rules-box h1 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.rules-box ul {
	list-style: none;
	padding: 0;
}

.rules-box ul li {
	font-size: 1.2rem;
	margin-bottom: 10px;
	text-align: left;
}

.page-content li {
	margin-bottom: 15px;
}
