.our-logo {
	height: 3cm;
	border-radius: 50%;
}

.navbar {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.menu-toggle {
	display: none;
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	color: #f44336;
}

.nav-links {
	display: flex;
	flex-direction: row;
	list-style: none;
	text-align: right;
	padding: 8px 160px;
}

.header-li {
	font-size: x-large;
	list-style: none;
	padding: 8px 12px;
}

.header-li a {
	color: rgb(243, 242, 240);
	text-decoration: none;
	font-size: 23px;
}

.header-li::after {
	content: "";
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: width 0.3s;
}

.header-li:hover::after {
	width: 100%;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
	.our-logo {
		height: 2cm;
	}

	.nav-links {
		display: none; /* Hide menu by default on mobile */
		position: absolute;
		top: 100%;
		right: 0;
		flex-direction: column;
		background-color: #333;
		width: 100%;
		text-align: center;
		padding: 0;
		z-index: 10;
	}

	.nav-links.open {
		display: flex; /* Show menu when open */
	}

	.header-li {
		padding: 10px 0;
	}

	.header-li a {
		font-size: 18px;
		color: white;
	}

	.menu-toggle {
		display: block; /* Show menu toggle button on mobile */
	}
}
