* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	text-align: center;
	min-height: 100vh;
	/* min-width: 100vw; */
	background-image: url("../images/free-photo-of-top-view-of-soccer-field.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden; /* Optional: Prevents scrolling if image slightly overflows */
}
